  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

h1{
  color: white;
  margin-right: 5%;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
  margin-bottom: -2%;
}

.row {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
}

/*Carte */

.card-body{
  padding: 1rem;
  margin-bottom: 1rem;
}

.top_card{
  padding: 10px;
}

.card{
  border: #000 solid 4px;
  border-radius: 3%;
  height: 400px;
  margin-bottom: 8%;
  box-shadow: 5px 6px 12px 6px rgba(0, 0, 0, 0.35);
  width: 92%;
 }


.card-img-top{
  border-radius: 10% 10% 0 0;
  object-fit: cover;
  border-bottom: black 2px solid;

}

/*images*/
.images{
 z-index: 2;
 position: relative;
}

img{
  margin: 4px;
}

.pierick{
  margin-bottom: 3.5rem;
  padding: 0;
  width: 100%;
  height: 80%;
}

.pierick img{
  height: 50%;
  width: 50%;
}

/*niveau de raretr*/
.rarity strong{
 color: antiquewhite;
}

.rarity p{
 color: #fff;
}

.rarity{
 background-color: goldenrod;
 color: #fff;
 text-align: center;
 padding-top: 2px;
 margin-top: 1rem;
 margin-left: 7rem;
 margin-right: 7rem;
 border-radius: 10px;
}

/* BTN derrière de la carte 

.edit_delet{
  padding: 1rem;
  margin: 0;
  display: grid;
}

.btn-warning{
  width: 100%;
}

.btn-danger{

}
*/

/*BTN  page index*/

/*

.create_form{
  display: flex;
  justify-content: center;
}
*/

.btn_create{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px){
  .col-lg-4 {
    flex: 0 0 auto;
    width: 37.333%;

  }
}