  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.card-body{
  padding: 1rem;
  margin-bottom: 1rem;
}

.top_card{
  padding: 10px;
}

.images{
 z-index: 2;
 position: relative;
}

.rarity strong{
 color: antiquewhite;
}

.rarity p{
 color: #fff;
}

.rarity{
 background-color: #a87e7e;
 color: #fff;
 text-align: center;
 padding-top: 2px;
 margin-top: 1rem;
 margin-left: 7rem;
 margin-right: 7rem;
 border-radius: 10px;
}


a{
  text-decoration: none;
  border-radius: 6px;
  margin: 8rem;
  background: #b0fff4;
  color: #000000;
  box-shadow: #b3b3b3;
  padding: 9px;
}


 .card{
  border: #000 solid 4px;
  border-radius: 3%;
  height: 400px;
  margin-bottom: 8%;
  box-shadow: 5px 6px 12px 6px rgba(0, 0, 0, 0.35);
  width: 92%;
 }


.card-img-top{
  border-radius: 10% 10% 0 0;
  object-fit: cover;
  border-bottom: black 2px solid;

}

img{
  margin: 4px;
}

.pierick{
  margin-bottom: 3.5rem;
  border: 5px solid black;
  padding: 0;
  width: 100%;
}

.pierick img{
  height: 180px;
  width: 99%;
}

.btn{
  margin-bottom: 1.5rem;
}

.create_form{
  display: flex;
  justify-content: center;
}


h4{
  text-align: center;
  margin-bottom: -2%;
}


h1{
  color: white;
  margin-right: 5%;
}

h2{
  text-align: center;
}

.logo{
  width: 25%;
}

.btn_show{
  background-color: #00c1f4;
  color: white;
  text-decoration: none;
  margin-top: 2%;
  padding: 3%;
  border-radius: 10px;
  text-align: center;
}

.btn_create{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

html{
  scroll-behavior: smooth;
}

.row {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}