<h1> Modifier ce poisson</h1>

<%= render "form", poisson: @poisson %>

<br>

<div class="btn">
  <%= link_to "Montrer ce poisson", @poisson %> |
  <%= link_to "Retourner vers la boutique", poissons_path %>
</div>
